
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>



$.post( "/posttest", {
    username: "test1",
    email: "test2",
    password: "test3",
    
 } );
</script>

<p>

<button>Send an HTTP POST request to a page and get the result back</button>

</body>
</p>
