<div class="login-input"><form action="/users" method="POST">
    <div class="input-field"><input type="text" name="username" placeholder="username">
    <input type="text" name="password" placeholder="password"></div>
  
  
    <input type="submit" value="Log in now! :)"  class="input-field" />
  </form>
</div>