signup!

<form action="/signup" method="POST">

  username:<input type="text" name="username">  </input>
  Email:<input type="text" name="email">  </input>
  password:<input type="text" name="password">  </input>

  <input type="submit" value="Sign up!" />
</form>