<div class="login-input">
  <form action="/signup" method="POST">

  <div class="input-field"><input type="text" name="username" placeholder="username" />
  <input type="text" name="email" placeholder="email" />
  <input type="text" name="password" placeholder="password"/></div>

  <input type="submit" value="Sign up!" class="input-field" />
</form>
</div>